---
title: Tags
layout: layouts/home.njk
---
### Tags

	<ol>
{% for tag in collections.tagList | sort %}
<li>  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag | title }}</a>
  </li>
{% endfor %}
</ol>
