<!doctype html>
<html lang="en">

  {% include "layouts/head.njk" %}

  <body>

  {% include "layouts/header.njk" %}

    <main class="mt-1 lg:flex lg:w-9/12 lg:ml-auto lg:mr-auto">

      {{ content | safe }}

    </main>

  {% include "layouts/footer.njk" %}
  
  </body>
</html>
