<!doctype html>
<html lang="en">

  {% include "layouts/head.njk" %}

  <body class="w-full mx-0 my-0">

  {% include "layouts/header.njk" %}

    <main class="block w-full mt-1 lg:flex lg:w-9/12 lg:ml-auto lg:mr-auto">

      {{ content | safe }}

    </main>

  {% include "layouts/footer.njk" %}
  
  </body>
</html>
