<!doctype html>
<html lang="en">

  {% include "layouts/head.njk" %}

  <body class="w-full mx-0 my-0">

  {% include "layouts/header.njk" %}

    <main class="flex flex-row flex-wrap block w-full mt-1 ml-auto mr-auto md:flex-no-wrap">

      {{ content | safe }}

    </main>

  {% include "layouts/footer.njk" %}
  
  </body>
</html>
