<div ID="TOC" class="min-w-full mt-1 ml-2 text-base text-left border-2 border-solid lg:flex-1 lg:w-48 lg:py-8 lg:ml-4 lg:-mr-6">

<details open class="det-open">
<summary id="nav1" class="text-lg btn-primary">Menu</summary>
{%- if eleventyNavigation -%}
	{%- set navKey = eleventyNavigation.key -%}
{%- endif -%}
{{ collections.all | eleventyNavigation("Menu") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}

	<details>
	<summary id="nav1" class="text-lg">Central America</summary>
	{%- if eleventyNavigation -%}
		{%- set navKey = eleventyNavigation.key -%}
	{%- endif -%}
	{{ collections.all | eleventyNavigation("Central America") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}

		<details>
		<summary id="nav1" class="text-lg">Belize</summary>
		{%- if eleventyNavigation -%}
			{%- set navKey = eleventyNavigation.key -%}
		{%- endif -%}
		{{ collections.all | eleventyNavigation("Belize") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
		</details>
		<details>
		<summary id="nav1" class="text-lg">Costa Rica</summary>
		{%- if eleventyNavigation -%}
			{%- set navKey = eleventyNavigation.key -%}
		{%- endif -%}
		{{ collections.all | eleventyNavigation("Costa Rica") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
		</details>
		<details>
		<summary id="nav1" class="text-lg">Guatemala</summary>
		{%- if eleventyNavigation -%}
			{%- set navKey = eleventyNavigation.key -%}
		{%- endif -%}
		{{ collections.all | eleventyNavigation("Guatemala") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
		</details>
		<details>
		<summary id="nav1" class="text-lg">Nicaragua</summary>
		{%- if eleventyNavigation -%}
			{%- set navKey = eleventyNavigation.key -%}
		{%- endif -%}
		{{ collections.all | eleventyNavigation("Nicaragua") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
		</details>

	</details>

	<details>
	<summary id="nav1" class="text-lg">Mexico</summary>
	{%- if eleventyNavigation -%}
		{%- set navKey = eleventyNavigation.key -%}
	{%- endif -%}
	{{ collections.all | eleventyNavigation("Mexico") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
	</details>

	<details>
	<summary id="nav1" class="text-lg">United States</summary>
	{%- if eleventyNavigation -%}
		{%- set navKey = eleventyNavigation.key -%}
	{%- endif -%}
	{{ collections.all | eleventyNavigation("United States") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
		<details>
		<summary id="nav1" class="text-lg">Vacation 1998</summary>
		{%- if eleventyNavigation -%}
			{%- set navKey = eleventyNavigation.key -%}
		{%- endif -%}
		{{ collections.all | eleventyNavigation("Vacation 1998") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
		</details>
		<details>
		<summary id="nav1" class="text-lg">Alaskan Cruise 2007</summary>
		{%- if eleventyNavigation -%}
			{%- set navKey = eleventyNavigation.key -%}
		{%- endif -%}
		{{ collections.all | eleventyNavigation("Alaskan Cruise 2007") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
		</details>
		<details>
		<summary id="nav1" class="text-lg">Six Months in a Popup</summary>
		{%- if eleventyNavigation -%}
			{%- set navKey = eleventyNavigation.key -%}
		{%- endif -%}
		{{ collections.all | eleventyNavigation("Six Months in a Popup") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}
		</details>
	</details>
</details>

</div>
