    <header class="h-32">
      <div id="background" class="absolute z-0 w-screen h-auto overflow-hidden">
      <img alt="collage of the vagabondians in multiple countries" class="h-32" src="/img/vaga-hdr-lrg.jpg">
      </div>
      <div id="foreground" class="z-10 max-w-lg ml-2 text-left">
      <a href="{{ '/' | url }}" class="relative">
      <img alt="logo image of a man exiting through a door" src="/img/logo.png" class="mt-1 ml-auto mr-auto">
      <h1 class="my-0 text-white">{{ metadata.title }}</h1>
      <h2 class="my-0 text-sm text-white">{{ metadata.description }}</h2>
      </a>
      </div>
    </header>