    <header class="h-32 lg:w-11/12 lg:ml-auto lg:mr-auto lg:text-center">
      <div id="background" class="absolute z-0 w-screen h-auto overflow-hidden lg:w-11/12 lg:ml-auto lg:mr-auto">
      <img alt="collage of the vagabondians in multiple countries" class="h-32 ml-auto mr-auto bg-center" src="/img/vaga-hdr-lrg.jpg">
      </div>
      <div id="foreground" class="z-10 ml-2 lg:w-11/12 lg:max-w-lg lg:text-left lg:ml-32">
      <a href="{{ '/' | url }}" class="relative">
      <img alt="logo image of a man exiting through a door" src="/img/logo.png" class="mt-1 ml-auto mr-auto">
      <h1 class="my-0 text-white">{{ metadata.title }}</h1>
      <h2 class="my-0 text-sm text-white">{{ metadata.description }}</h2>
      </a>
      </div>
{#    <ul class="nv">
        {%- for nav in collections.nav | reverse -%}
        <li class=""><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
        {%- endfor -%}
      </ul>
#}
    </header>
