  <head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="preload" href="{{ '/css/fonts/Tiresias_Infofont-webfont.woff' | url }}" as="font" type="font/woff" crossorigin />
    <link rel="preload" href="{{ '/css/fonts/Tiresias_Infofont_Italic-webfont.woff' | url }}" as="font" type="font/woff" crossorigin />

    <script>
		{%- include "details-force-state.js" -%}
		</script>
<link rel="preload" href="{{ '/css/index.css' | url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ '/css/index.css' | url }}"></noscript>

  </head>