---
layout: layouts/base.njk
---

{% include "layouts/menu.njk" %}
<div id="right" class="w-full lg:flex">
{% if eleventyNavigation and eleventyNavigation.key and eleventyNavigation.parent %}
<nav class="breadcrumb" aria-labelledby="breadcrumb">
  <h2 class="sr-only" id="breadcrumb">Breadcrumbs: </h2>
  {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | eleventyNavigationToHtml({ listClass: 'lo lo-inline', listItemClass: 'lo-c', activeListItemClass: 'breadcrumb-active' }) | safe }}
</nav>
{% endif %}

<div id="article" class="mt-1">

<img src="{{ image }}">

<h1>{{ title }}</h1>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>

</div>
</div>